/********** Mobile First - Responsive Design **********/

html, body {
    height: 1000px;
    width: 100%;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
}


.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: rgba(255,255,255,0.8);
    margin: 0;
}

.my-logo h1 {
    /*background-color: black;*/
    /*color: white;*/
    color: #D5DFEC;;
    padding: 3px;
    margin: 0;
}


.hamburger,
.exit {
    background: none;
    border: none;
}

.nav-right {
    width: 45%;
    height: 50px;
}


.large-menu-container,
.menu,
.menu a  {
    display: none;
    width: 75px;
}

.hamburger-menu-container {
    display: flex;
    align-items: center;
    /*border: 1px solid black;*/
    width: 80px;
    margin-left: 70%;
    margin-top: 10px;
}

.hamburger,
.exit {
    background: none;
    border: none;
}

.hamburger img {
    height: 30px;
}

.exit img {
    height: 25px;
}

.menu-container ul {
    padding: 0;
}

.menu-items li {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.menu-items a {
    margin-bottom: 15px;
    text-decoration: none;
    font-weight: bold;
}

.menu-container li,
.large-menu-container,
.menu-container {
    color: black;
    list-style: none;
}

.menu-container a{
    color: black;
}

.menu-container {
    display: unset;
}

.my-logo h1 {
    /*margin: 15px;*/
    font-size: 1.5em;
    margin-left: 5px;
}



/*BANNER IMAGE*/

.banner {
    height: 250px;
    width: 100%;
}

.banner img {
    height: 250px;
    width: 100%
}


/*CONTAINERS*/

.container-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-about {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
}


.container-about img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border: 10px solid white;
    margin-top: -75px;
}

.container-about h2 {
    margin: 10px;
}

.container-about p {
    margin: 10px;
    height: 150px;
    width: 400px;
    line-height: 1.5;
}

.container-skills {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    width: 100%;
    height: 275px;
    background-color: whitesmoke;
    padding: 5px;
}

.skills-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 50px;
    margin-top: 15px;
}

.skills-icon h3 {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 1em;
}

.skills-icon i {
    font-size: 2.5em;
}

.container-education {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-education h4 {
    font-size: 1em;
    height: 50px;
    width: 100px;
    margin: 0;
    margin-top: 5px;
}

.digitalcrafts h4 {
    margin-left: 25px;
}

.umass img {
    width: 100px;
    height: 100px;
    margin-top: 50px;
    margin-right: 50px;
}

.digitalcrafts img {
    height: 75px;
    width: 150px;
    margin-top: 70px;
}


.container-projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    margin-top: 25px;
    margin-bottom: 25px;
    margin: 0;
}

.container-projects p {
    margin-bottom: 0;
    margin-top: 25px;
    font-weight: bolder;
    font-size: 1.75em;
    color: lightgrey;
    padding: 5px;
    border: 2px solid white;
}

.project {
    width: 400px;
    height: 300px;
    background-color: white;
    margin: 5%;
}

.project img {
    width: 100%;
    height: 100%;
    border: 2px solid lightgrey;
}

.container-contact {
    width: 100%;
    height: 200px;
}

.contact-icon {
    display: flex;
    justify-content: center;
}

.contact-icon img {
    height: 50px;
    width: 50px;
    margin: 5px;
    background-color: white;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info h4 {
    margin-bottom: 5px;
    margin-top: 20px;
    font-weight: bolder;
    font-size: 1.75em;
    /*background-color: black;*/
    color: #D5DFEC;
    padding: 5px;
    border: 2px solid #D5DFEC;
}


.contact-info p {
    width: 415px;
    height: 15px;
    margin: 0;
    font-size: .8em;
    padding: 10px;
}



/*FOOTER*/

.footer-container {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    background-color: whitesmoke;
}

.footer-container p {
    width: 265px;
    font-size: .75em;
    margin-top: 20px;
    font-weight: bold;
    /*color: #D5DFEC;;*/
}

.footer-container img {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    margin-top: 15px;
    margin-left: 1px;
}

/** {border: 1px solid red;}*/


/*** Media Queries Below ***/

@media only screen and (min-width: 480px) {

/*BANNER IMAGE*/

.banner {
    height: 350px;
}

.banner img {
    height: 350px;
}

/*CONTAINERS*/

.container-about img {
    height: 200px;
    width: 200px;
    margin-top: -100px;
}

.container-about p {
    margin: 10px;
    height: 200px;
    width: 450px;
    /*line-height: 1.5;*/
}

.digitalcrafts h4 {
    margin-left: 50px;
    width: 200px;
}

.umass h4 {
    margin-left: 15px;
}

.umass img {
    width: 125px;
    height: 125px;
    margin-top: 50px;
    margin-right: 50px;
}

.digitalcrafts img {
    height: 100px;
    width: 200px;
    margin-top: 70px;
}

.project {
    width: 450px;
    height: 350px;
    background-color: white;
    margin: 5%;
}

}



@media only screen and (min-width: 768px) {

.my-logo h1 {
    font-size: 2em;
}

.nav-right {
    width: 50%;
}

.large-menu-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: rgba(255,255,255,0);
}

.menu {
    width: 60px;
    background-color: white;
    color: black;
    margin: 5px;
    padding: 12.5px;
    font-size: 1.2em;
    background-color: rgba(255,255,255,0);
    display: inline;
}

.menu a {
    text-decoration: none;
    background-color: white;
    color: black;
    margin: none;
    background-color: rgba(255,255,255,0);
    display: inline;
}

.hamburger-menu-container {
    display: none;
} 



/*BANNER IMAGE*/

.banner {
    height: 475px;
}

.banner img {
    height: 475px;
}

/*CONTAINERS*/

.container-about {
    height: 250px;
}

.container-about h2 {
    margin-left: -450px;
    margin-top: -50px;
    font-size: 2em;
}

.container-about img {
    height: 200px;
    width: 200px;
    margin-top: -125px;
    margin-left: 55%;
}


.container-about p {
    margin: 10px;
    height: 200px;
    width: 710px;
    /*line-height: 2em;*/
    font-size: 1.1em;
    /*margin-left: -10px;*/
}

.skills-icon {
    width: 100px;
    height: 50px;
    margin: 15px;
}

.skills-icon h3 {
    font-size: 1.1em;
}

.skills-icon i {
    font-size: 3.25em;
}

.container-education {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.digitalcrafts h4 {
    margin-left: 150px;
}

.umass h4 {
    width: 200px;
    
}

.umass img {
    width: 200px;
    height: 200px;
    margin-top: 60px;
    margin-right: 50px;
}

.digitalcrafts img {
    height: 150px;
    width: 300px;
    margin-top: 100px;
    margin-left: 50px;
}

.container-projects p {
    font-size: 2.25em;
    margin-top: 25px;
    color: lightgrey;
}

.project {
    width: 750px;
    height: 550px;
    background-color: white;
    margin: 5%;
}

.project img {
    width: 100%;
    height: 100%;
}

.container-contact {
    height: 250px;
}

.contact-icon img {
    height: 60px;
    width:60px;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: white;
}

.contact-info h4 {
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 2.25em;
}

.contact-info p {
    width: 525px;
    margin: 0;
    font-size: 1em;
    padding: 10px;
}


/*FOOTER*/

.footer-container {
    height: 50px;
    font-size: 1em;
}

.footer-container p {
    font-size: 1.1em;
    margin-top: 15px;
    margin-left: 25px;
    width: 300px;
    font-size: .85em;
}

.footer-container img {
    height: 25px;
    width: 25px;
    margin-top: 10px;
    /*margin-left: -1px;*/
}
    
}





@media only screen and (min-width: 976px) {

.navbar {
    height: 60px;
}

.my-logo h1 {
    font-size: 2em;
}

/*BANNER IMAGE*/

.banner {
    height: 550px;
}

.banner img {
    height: 550px;
}

/*CONTAINERS*/

.container-about {
    height: 275px;
}

.container-about h2 {
    margin-left: -575px;
    margin-top: -60px;
    font-size: 2.25em;
}

.container-about img {
    height: 225px;
    width: 225px;
    margin-top: -150px;
    margin-left: 65%;
    border: 20px solid white;
    border: 10px solid white;
}

.container-about p {
    margin: 10px;
    height: 150px;
    width: 800px;
    /*line-height: 2em;*/
    font-size: 1.25em;
    margin-left: -60px;
}

.container-skills {
    padding: 25px;
}

.skills-icon {
    width: 100px;
    height: 50px;
    margin: 15px;
}

.skills-icon h3 {
    font-size: 1.15em;
}

.skills-icon i {
    font-size: 5em;
}

.container-education {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.digitalcrafts h4 {
    margin-left: 175px;
}

.umass h4 {
    margin-left: 40px;
}

.umass img {
    width: 250px;
    height: 250px;
    margin-top: 50px;
    margin-right: 50px;
}

.digitalcrafts img {
    height: 175px;
    width: 350px;
    margin-top: 100px;
    margin-left: 50px;
}

.container-projects p {
    font-size: 2.25em;
    margin-top: 25px;
}

.project {
    width: 750px;
    height: 550px;
    background-color: white;
    margin: 5%;
}

.project img {
    width: 100%;
    height: 100%;
}

.container-contact {
    height: 250px;
}

.contact-icon img {
    height: 75px;
    width: 75px;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: white;
}

.contact-info h4 {
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 2.25em;
}

.contact-info p {
    width: 600px;
    margin: 0;
    font-size: 1.15em;
    padding: 10px;
}


/*FOOTER*/

.footer-container {
    height: 75px;
    background-color: whitesmoke;
}

.footer-container p {
    font-size: 1.1em;
    margin-top: 15px;
    margin-left: 25px;
    width: 360px;
    font-size: 1em;
    height: 25px;
}

.footer-container img {
    height: 25px;
    width: 25px;
    margin-top: 10px;
    margin-left: -5px;
}
  
}