/********** Mobile First - Responsive Design **********/

html, body {
    height: 100%;
    width: 100%;
}

.navigation-right {
    width: 100%;
    height: 50px;
    border: 1px solid red;
}

.banner img {
    background-image: url('../images/typing.png');
}

.banner-headline {

}

.container-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-about {
    width: 100%;
    height: 200px;
    border: 1px solid black;
}

.container-skills {
    width: 100%;
    height: 200px;
    border: 1px solid yellow;
}

.container-education {
    width: 100%;
    height: 200px;
    border: 1px solid blue;
}

.container-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    border: 1px solid purple;
}

.project {
    width: 40%;
    height: 300px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid purple;
}

.container-contact {
    width: 100%;
    height: 200px;
    border: 1px solid green;
}

.footer-container {
    height: 50px;
    width: 100%;
}








/****************************************** Media Queries Below ******************************************/












/****************************************** Media Queries Above ******************************************/