/********** Mobile First - Responsive Design **********/

html, body {
    height: 1000px;
    width: 100%;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
}


.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: white;
    margin: 0;
}

.my-logo h1 {
    background-color: black;
    color: white;
    padding: 3px;
    margin: 0;
}


.hamburger,
.exit {
    background: none;
    border: none;
}

.large-menu-container {
    display: none;
}

.hamburger-menu-container {
    display: flex;
    align-items: center;
}

.hamburger,
.exit {
    background: none;
    border: none;
}

.hamburger img {
    height: 30px;
}

.exit img {
    height: 25px;
}

.menu-container ul {
    padding: 0;
}

.menu-items li {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.menu-items a {
    margin-bottom: 15px;
    text-decoration: none;
    font-weight: bold;
}

.menu-container li,
.large-menu-container span,
.menu-container span {
    color: black;
    list-style: none;
    background-color: lightgray;
}

.menu-container a{
    color: black;
}

.menu-container {
    display: unset;
}

.large-menu-container {
    display: none;
}

.my-logo h1 {
    margin: 15px;
}




/*BANNER IMAGE*/

.banner {
    height: 250px;
    width: 100%;
}

.banner img {
    height: 300px;
    width: 100%

}


/*CONTAINERS*/

.container-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-about {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
}

.container-about img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border: 10px solid white;
    margin-top: -40px;
}

.container-about h2 {
    margin: 10px;
}

.container-about p {
    margin: 10px;
    height: 150px;
    width: 400px;
}

.container-skills {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-color: whitesmoke;
}

.skills-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 50px;
    margin-top: 15px;
}

.skills-icon h3 {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 1em;
}

.skills-icon i {
    font-size: 2.5em;
}

.container-education {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-education h4 {
    font-size: 1em;
    height: 50px;
    width: 100px;
    margin: 0;
    margin-top: 5px;
}

.digitalcrafts h4 {
    margin-left: 25px;
}

.umass img {
    width: 100px;
    height: 100px;
    margin-top: 50px;
    margin-right: 50px;
}

.digitalcrafts img {
    height: 75px;
    width: 150px;
    margin-top: 70px;
}


.container-projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    margin-top: 25px;
    margin-bottom: 25px;
    margin: 0;
}

.project {
    width: 80%;
    height: 200px;
    background-color: white;
    margin: 5%;
}

.container-contact {
    width: 100%;
    height: 200px;s
}

.contact-icon i {
    font-size: 2em;
}



/*FOOTER*/

.footer-container {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    background-color: whitesmoke;
}

.footer-container p {
    width: 100;
    font-size: .75em;
    margin-top: 20px;
    font-weight: bold;
}









/****************************************** Media Queries Below ******************************************/












/****************************************** Media Queries Above ******************************************/